/*
Colorplan LESS File
Author: Ben Palmer (twitter.com/benpalmer)
Version: 1.0
Date: 16 July 2013
*/
.cpCoolBlue {
  background-color: #cedae6;
}
.cpCoolGrey {
  background-color: #eff1f2;
}
.cpTurquoise {
  background-color: #48b8bb;
}
.cpAzureBlue {
  background-color: #bdd8f2;
}
.cpNewBlue {
  background-color: #769ab8;
}
.cpTabrizBlue {
  background-color: #1679c3;
}
.cpAdriatic {
  background-color: #2e5c92;
}
.cpSapphire {
  background-color: #332f8a;
}
.cpCobalt {
  background-color: #2f3a49;
}
.cpRoyalBlue {
  background-color: #3c2886;
}
.cpPurple {
  background-color: #582987;
}
.cpPaleGrey {
  background-color: #f2efe5;
}
.cpRealGrey {
  background-color: #b8bcb4;
}
.cpDarkGrey {
  background-color: #5a5e50;
}
.cpSmoke {
  background-color: #857c75;
}
.cpBagdadBrown {
  background-color: #47331b;
}
.cpEbonyBlack {
  background-color: #261f1d;
}
.cpAmethyst {
  background-color: #312a37;
}
.cpImperialBlue {
  background-color: #292c31;
}
.cpBitterChocolate {
  background-color: #2f2916;
}
.cpClaret {
  background-color: #461e1f;
}
.cpFactoryYellow {
  background-color: #fde700;
}
.cpSorbetYellow {
  background-color: #f7f18c;
}
.cpCitrine {
  background-color: #fec311;
}
.cpMandarin {
  background-color: #ea6012;
}
.cpBrightRed {
  background-color: #d5161b;
}
.cpVermillion {
  background-color: #b62a2f;
}
.cpScarlet {
  background-color: #850c18;
}
.cpStone {
  background-color: #e3c9a4;
}
.cpHarvest {
  background-color: #b19a5f;
}
.cpNubuckBrown {
  background-color: #8a7151;
}
.cpChinaWhite {
  background-color: #fcf4d6;
}
.cpNatural {
  background-color: #fffef5;
}
.cpVellumWhite {
  background-color: #fffaef;
}
.cpCandyPink {
  background-color: #f8ccce;
}
.cpMist {
  background-color: #f0e4c5;
}
.cpLavender {
  background-color: #bbabd5;
}
.cpFuschiaPink {
  background-color: #c44888;
}
.cpBrightWhite {
  background-color: #fffef1;
}
.cpPristineWhite {
  background-color: #fffdf9;
}
.cpIceWhite {
  background-color: #fffcf7;
}
.cpWhiteFrost {
  background-color: #f6fbfd;
}
.cpPowderGreen {
  background-color: #e2efdd;
}
.cpPistachio {
  background-color: #e2edbb;
}
.cpParkGreen {
  background-color: #a9d5a3;
}
.cpMidGreen {
  background-color: #53632e;
}
.cpEmerald {
  background-color: #327e61;
}
.cpLockwoodGreen {
  background-color: #156d49;
}
.cpForest {
  background-color: #214421;
}
.cpRacingGreen {
  background-color: #0f2210;
}
